<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}">
</head>
<body>
    <div class="col-3"></div>
    <div class="container col-6">
        <div class="login-form">
            <p th:if="${param.error}" class="error text-center">Invalid email or password</p>
            <p th:if="${param.logout}" class="success text-center">You have been logged out</p>
            <form th:action="@{/login}" method="post">
                <h2 class="text-center">Login</h2>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email" required="required"/>
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required"/>
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-success">Login</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
